/* Colors */
$white: #ffffff;
$secondwhite:#fdfdfd;
$nearly-white:#c1c0c0;
$funky-white:#f1efef;
$black: #000000;
$funky-black: #1f1f1f;
$shiny-blue: #2e2bff;
$red: #de1818;

/* Mixed */
$padding: 2.5em;
$halfpadding: 1em;
$font: 'Roboto', sans-serif;
$fontsize: 1.1em;
$transition: 0.2s;
